html,
body {
  height: 100%;
  font-family: "GothamPro", sans-serif;
  font-weight: 400;
}

* {
  color: var(--black-color);
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &-container {
    flex: 1 1 auto;
  }
}

[class*="__container"] {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}
